* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 85vw;
  margin-right: auto;
  margin-left: auto;
}

.word {
  margin-top: 100px;
}

.head {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  font-size: 50px;
  padding-top: 55px;
  word-wrap: break-word;
  margin-right: 50px;
  font-family: 'futura';
}

.name {
  font-size: 50px;
  padding-top: 55px;
  padding-left: 60px;
  font-family: 'futura';

}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  margin-top: 25px;
  font-size: 20px;
  text-decoration: none;
  color: #00C3F6;
  font-weight: 400;
  margin-right: 75px;
  font-family: 'futura';
}

li a {
  color: #00C3F6;
  font-weight: 400;
}

li a:hover {
  border-bottom: 3px solid black;
  text-decoration: none;
  cursor: pointer;
  color: #00C3F6;
  font-weight: 400;
}

img:hover {
  filter: brightness(100%) grayscale(0%);
  border-bottom: 10px solid transparent;
}

#header {
  display: flex;
  justify-content: space-around;
}


img {
  filter: brightness(84%) grayscale(85%);
  transition: filter 500ms ease-in-out;
}

#seeds {
  margin-top: 15px;
  height: 310px;
  width: 400px;
  margin-left: 100px;
}

#custom {
  margin-left: 50px;
  margin-top: 52px;
  width: 400px;
  height: 310px;
}

#bio {
  margin-left: 100px;
  margin-top: -100px;
  padding-bottom: 20px;
  margin-right: 275px;
  font-size: 25px;
  text-indent: 15px;
  word-wrap: break-word;
}

#clock {
  width: 150px;
  height: 300px;
  color: #000;
  font-weight: bold;
  font-size: 50px;
  width: 40px;
  padding-top: 100px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 100px;
  word-wrap: break-word;
  text-align: center;
}

#holy {
  margin-left: 140px;
  font-family: 'futura';
}

#work {
  display: flex;
  justify-content: flex-start;
  width: 100px;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
  font-size: 100px;
  font-weight: 400;
  margin-left: 50px;
  position: relative;
  top: 290px;
  color: #00C3F6;
  letter-spacing: 100px;
  font-family: 'futura';
}

#cathedral {
  margin-left: -320px;
  margin-right: 50px;
  margin-top: 50px;
  width: 400px;
  height: 300px;
}

#wax {
  margin-left: 180px;
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 150px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'futura';
}

#carbon {
  margin-top: 50px;
  margin-left: 30px;
  font-family: 'futura'

}

#debut {
  width: 400px;
  height: 300px;
  margin-top: 15px;
}

#work-right {
  width: 1em;
  position: absolute;
  left: 1000px;
  top: 400px;
  font-size: 100px;
  width: 1em;
  text-align: center;
  font-weight: 400;
  line-height: 175px;
  font-family: 'futura';
}

@media only screen and (max-width: 1176px){

  #custom {
    margin-left: 100px;
    margin-top: 50px;
  }

 .head {
   margin-top: -20px;
   margin-right: 150px;
   margin-left: 100px;
 }

 .name {
   margin-top: -20px;
   margin-left: 5px;
   margin-right: 10px;
 }

 #carbon {
   margin-left: 140px;
 }

 #debut {
   margin-left: 115px;
 }

 #work-right {
   left: 550px;
   top: 1200px;
 }

 ul {
   margin-left: -30px;
   margin-top: 30px;
   margin-right: 240px;
 }

 #cathedral {
   margin-left: -320px;
   margin-top: 45px;
 }

}

/* @media only screen and (min-width: 1177px){
  .head {
    padding-left: 150px;
  }

  .name {
    margin-left: 30px;
  }

  ul {
    margin-top: 50px;
  }
} */

@media only screen and (min-width: 1177px){
  .head {
    padding-left: 135px;
    white-space: nowrap;
    margin-top: 5px;
  }

  .name {
   white-space: nowrap;
   padding-right: 100px;
   padding-left: 150px;
   margin-top: 5px;
  }

  ul {
    margin-left: -70px;
  }

}
