* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 84vw;
  margin-right: auto;
  margin-left: auto;
}

.word {
  margin-top: 100px;
}

.head {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  font-size: 60px;
  padding-top: 45px;
  white-space: nowrap;
  margin-right: 50px;
  font-family: 'futura';
}

.name {
  font-size: 60px;
  padding-top: 45px;
  margin-left: 100px;
  margin-right: 20px;
  font-family: 'futura';
  white-space: nowrap;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  margin-top: 25px;
  font-size: 24px;
  text-decoration: none;
  color: #00C3F6;
  font-weight: 400;
  margin-right: 40px;
  font-family: 'futura';
}

li a {
  color: #00C3F6;
  font-weight: 400;
}

li a:hover {
  border-bottom: 3px solid black;
  text-decoration: none;
  cursor: pointer;
  color: #00C3F6;
  font-weight: 400;
}

.img:hover {
  filter: brightness(100%) grayscale(0%) !important;
  border-bottom: 10px solid transparent !important;
}

#header {
  display: flex;
  justify-content: space-around;
}

.img {
  filter: brightness(84%) grayscale(85%);
  transition: filter 500ms ease-in-out;
}

#seeds {
  height: 310px;
  width: 400px;
  margin-left: 50px;
  margin-right: 50px;
}

hr {
  clear:both;
  display:block;
  width: 100%;
  background-color: black;
  height: 2px;
}

.pic {
  display: flex;
  justify-content: center;
}

#elliot {
  border-radius: 50%;
  filter: brightness(84%) grayscale(85%);
  transition: filter 500ms ease-in-out;
  width: 250px;
  margin-top: -85px;
}

#custom {
  width: 400px;
  height: 310px;
  margin-left: 48px;
  margin-right: 50px;
}

#bio {
  margin-left: 250px;
  padding-bottom: 25px;
  margin-right: 300px;
  font-size: 30px;
  text-indent: 50px;
  font-family: sans-serif;
  margin-top: 50px;
  overflow-wrap: break-word;
}

.sunlight {
  margin-left: 40px;
  font-family: 'futura';
  white-space: nowrap;
}

#work {
  display: flex;
  justify-content: flex-start;
  width: 100px;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
  font-size: 100px;
  font-weight: 400;
  margin-left: 100px;
  position: relative;
  /* top: 500px; */
  left: -50px;
  color: #00C3F6;
  letter-spacing: 100px;
  font-family: 'futura';
}

#cathedral {
  width: 400px;
  height: 310px;
  margin-left: 50px
}

#wax {
  margin-left: 90px;
  font-family: 'futura';
  white-space: nowrap;
}

#carbon {
  margin-top: 50px;
  margin-left: 85px;
  font-family: 'futura';
}

#debut {
  width: 97%;
  height: 350px;
  margin-bottom: 40px;
  margin-left: 64px;
}

#work-right {
  visibility: hidden;
}


@media only screen and (max-width: 1199px) {
  #work-right {
    visibility: visible;
    width: 1em;
    position: absolute;
    left: 725px;
    top: 1270px;
    display: inline;
    font-size: 100px;
    width: 1em;
    text-align: center;
    font-weight: 400;
    line-height: 185px;
    font-family: 'futura';
  }

  .vertical-text {
    top: 750px;
    left: 100px;
  }

   .head {
    margin-right: 200px;
  }

  .name {
    margin-left: 40px;
    margin-right: 20px;
  }

  .name, .head {
    font-size: 45px;
  }

  ul {
    margin-left: -150px;
    font-size: 20px;
  }

  #debut {
    width: 400px;
    height: 310px;
    margin-left: 215px;
  }

  #seeds {
    margin-left: 200px;
  }

  #custom {
    margin-left: 200px;
  }

  .sunlight {
    margin-left: 260px;
    padding-top: 10px;
  }

  #bio {
    margin-left: 230px;
    margin-right: 230px;
  }

  #carbon {
    margin-left: 260px;
    margin-top: 35px;
  }

  #cathedral {
    margin-left: 200px;
  }

  #wax {
    padding-left: 210px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1200px){
  .vertical-text {
    top: 700px;
  }

  .sunlight {
    padding-left: 35px;
  }

  #wax {
    padding-left: 10px;
  }

}

@media screen and (min-width: 1300px){
  .sunlight {
    padding-left: 60px;
  }

  #wax {
    padding-left: 50px;
  }
}
