* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 84vw;
  margin-right: auto;
  margin-left: auto;
}

.word {
  margin-top: 100px;
}

.head {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  font-size: 60px;
  padding-top: 45px;
  white-space: nowrap;
  margin-right: 50px;
  font-family: 'futura';
}

.name {
  font-size: 60px;
  padding-top: 45px;
  margin-left: 100px;
  margin-right: 20px;
  font-family: 'futura';
  white-space: nowrap;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  margin-top: 25px;
  font-size: 24px;
  text-decoration: none;
  color: #00C3F6;
  font-weight: 400;
  margin-right: 40px;
  font-family: 'futura';
}

li a {
  color: #00C3F6;
  font-weight: 400;
}

li a:hover {
  border-bottom: 3px solid black;
  text-decoration: none;
  cursor: pointer;
  color: #00C3F6;
  font-weight: 400;
}

.img:hover {
  filter: brightness(100%) grayscale(0%);
  border-bottom: 10px solid transparent;
}

#header {
  display: flex;
  justify-content: space-around;
}


.img {
  filter: brightness(84%) grayscale(85%);
  transition: filter 500ms ease-in-out;
}

#seeds {
  height: 310px;
  width: 400px;
  margin-left: 50px;
  margin-right: 50px;
}

#custom {
  width: 400px;
  height: 310px;
  margin-left: 50px;
  margin-right: 50px;
}

#bio {
  margin-left: 100px;
  padding-bottom: 20px;
  margin-right: 250px;
  font-size: 25px;
  text-indent: 15px;
}

.sunlight {
  margin-left: 80px;
  font-size: 30px;
  font-family: 'futura';
}

#work {
  display: flex;
  justify-content: flex-start;
  width: 100px;
}


.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
  font-size: 100px;
  font-weight: 400;
  margin-left: 100px;
  position: relative;
  top: 420px;
  left: -50px;
  color: #00C3F6;
  letter-spacing: 100px;
  font-family: 'futura';
}

#cathedral {
  width: 400px;
  height: 310px;
  margin-left: 50px
}

#wax {
  margin-left: 130px;
  font-size: 30px;
  font-family: 'futura';
}

#carbon {
  margin-top: 50px;
  margin-left: 130px;
  font-family: 'futura';
  font-size: 30px;
}

#debut {
  width: 1300px;
  height: 310px;
  margin-bottom: 40px;
  margin-left: 60px;
}

#work-right {
  visibility: hidden;
}


@media only screen and (max-width: 700px) {
  #work-right {
    visibility: visible;
    width: 1em;
    position: absolute;
    left: 550px;
    top: 1000px;
    display: inline;
    font-size: 100px;
    width: 1em;
    text-align: center;
    font-weight: 400;
    line-height: 185px;
    font-family: 'futura';
  }

  .head {
    visibility: hidden;
  }

  .name {
    margin-right: 30px;
    margin-left: -30px;
    font-size: 45px;
    word-wrap: break-word;
  }

  ul {
    margin-left: -550px;
    font-size: 20px;
  }

  #debut {
    width: 400px;
    height: 310px;
  }

  #carbon {
    margin-left: 70px;
  }
}
